@charset "utf-8";
/* CSS Document */

.v4-tease {
  background-color:#0275d8;
  color: #ffffff;
  display: block;
  font-size: 15px;
  padding: 15px 20px;
  text-align: center;
}
a {
  color: #488dc6;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}
.v4-tease:hover {
    text-decoration: none;
	color:white;
	background-color:#0269c2;
}
.left.carousel-control > img {
  margin-top: 198px;
}
.right.carousel-control > img {
  margin-top: 198px;
}
.white-bg {
  background-color: #ffffff;
}
.sec-head-container {
  margin-bottom: 10px;
  margin-top: 15px;
  overflow: hidden;
}
.sec-head-container .sec-head-style::after {
  background-color: #1fb5ac;
  content: "";
  height: 140px;
  left: -200%;
  margin-left: -15px;
  position: absolute;
  top: 0;
  width: 200%;
}
.section-title {
  -webkit-text-stroke: 0.3px;
  color: #1a1a1a;
  float: left;
  font-size:1em;
  font-weight: 900;
  line-height: 0.9em;
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
  width: 300px;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.section-title span {
  color: #1fb5ac;
}
.section-description {
  -webkit-text-stroke: 0.2px;
  color: #404040;
  font-weight: 300;
  line-height: 20px;
  margin: 0 113px 43px 113px;
  padding-top: 35px;
}
.service-container {
  margin: 0;
  padding: 0;
}
.service-container li::before {
  border-color: #ffffff #ffffff #15a9a0 #15a9a0;
  border-style: solid;
  border-width: 20px;
  content: "";
  height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 40px;
}
.service-container li:nth-child(2n+1) {
  background-color: #f7f7f7;
}
.service-container li:hover::before {
  right: 0;
  top: 0;
}
.service-container li:hover {
  background-color: #1fb5ac;
}
.service-container li {
  list-style: outside none none;
  overflow: hidden;
  padding: 35px 15px;
  position: relative;
  text-align: center;
}
.service-container li, .service-container li::before, .service-container li .service-icon, .service-container li .item-title, .service-container li .item-description {
  transition: all 0.25s ease 0s;
}
.service-container li:nth-child(2n) {
  background-color: #f2f2f2;
}
.service-container li:hover {
  background-color: #3F2C78;
}
.service-container li, .service-container li::before, .service-container li .service-icon, .service-container li .item-title, .service-container li .item-description {
  transition: all 0.25s ease 0s;
}
.service-container li .item-title {
  font-size: 1.15em;
  font-weight: 800;
  padding-top: 6px;
}
.service-container li:hover .service-icon, .service-container li:hover .item-title, .service-container li:hover .item-description {
  color: #ffffff;
}
.section-description > h2 {
  color: #1D6A84;
}
.steps {
  list-style: outside none none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 700px;
}
.timeline-border {
  border-left: 1px solid #dadada;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
}
.step .icon-border::before {
  border-bottom: 1px solid #dadada;
  content: "";
  display: block;
  left: -65px;
  position: absolute;
  top: 35px;
  width: 65px;
}
.icon-border i::before {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.step h5 {
  color: #31a393;
  font-weight: 600;
}
.upper {
  text-transform: uppercase;
}
.step.even {
  float: left;
  padding: 10px 405px 0 0;
  text-align: right;
}
.step {
  float: right;
  margin: 0 0 10px;
  padding: 10px 0 0 405px;
  position: relative;
  text-align: left;
  width: 700px;
}
.workflow_item div {
  border-radius: 50%;
  height:70px;
  margin: 0 auto;
  padding-top: 32px;
  text-align: center;
  width:70px;
  border:2px solid #5ac499;
}
.workflow_item div:hover {
  border-radius: 50%;
  height:70px;
  margin: 0 auto;
  padding-top: 32px;
  text-align: center;
  width:70px;
  background-color:#5ac499;
}
.step.workflow_item > div {
  margin-right:210px;
}
.step.workflow_item img {
  margin-top: -22px;
}
h1, h2, h3, h4, h5, h6 {
  color: #616161;
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 0;
}
.step.even.workflow_item > div {
  margin-left: 210px;
}
.line {
  border-bottom: 1px solid #dadada;
  height: 47px;
  margin-left: 351px;
  position: absolute;
  width: 70px;
}
.line2 {
  border-bottom: 1px solid #dadada;
  height: 47px;
  margin-left: 351px;
  margin-top: 329px;
  position: absolute;
  width: 70px;
}
.line1 {
  border-bottom: 1px solid #dadada;
  height: 47px;
  margin-left: 281px;
  margin-top: 153px;
  position: absolute;
  width: 70px;
}
.line3 {
  border-bottom: 1px solid #dadada;
  height: 47px;
  margin-left: 280px;
  margin-top: 504px;
  position: absolute;
  width: 70px;
}
.line4 {
  border-bottom: 1px solid #dadada;
  height: 39px;
  margin-left: 351px;
  margin-top: 691px;
  position: absolute;
  width: 70px;
}
*,
*:after,
*:before {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

body {
 background: #f1f2f3;
 width: 100%;
 height: 100%;
 font-family: 'Open Sans', sans-serif;
}

ul {
 list-style: none;
}

#wrap {
  display: block;
  float: right;
  margin-bottom: 0;
  margin-right: 90px;
  margin-top: 0;
  max-width: 960px;
  width: 55%;
}

/*--------------Accordion Styles------------------*/
 

.accordion {
 margin: 0 0 30px;
 border-top: 1px solid #DDD;
 border-radius: 4px;
}

.accordion dt {
 border-bottom: 3px solid #f1f2f3;
 background:#E16D0F;
 color: #FFF;
}

.accordion dd {
 display: none;
 padding: 20px;
 width: 100%;
 margin-left: 0;
 border-bottom: 1px solid #DDD;
 background: #FFF;
}

.accordion dt {
 cursor: pointer;
 padding: 8px 15px;
 margin: 0;
}

.accordion dt:before {
 content: "\25B6";
 padding-right: 5px;
 transition: all .3s linear;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 transform: rotate(0deg);
}

.accordion dt:hover:before {
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 transform: rotate(90deg);
}

.accordion dt.accordion-active:before {
 content: "\25B6";
 padding-right: 5px;
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
}

.accordion dt.accordion-active:hover {
 cursor: default;
}
.frequently {
  margin-left: 100px;
  width: 500px;
}
.box_style_1 {
  background-color: #ffffff;
  border: 5px solid #fbfbfc;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #e0e5e9 inset;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 30px;
  padding: 15px 25px 5px;
}
.box_style_1 h4 {
  border-bottom: 1px solid #eaeff3;
  padding-bottom: 10px;
}
.box_style_1.clearfix {
  margin-left: 62px;
  margin-top: 25px;
  width: 90%;
}
.sumome-share-client-wrapper.sumome-share-client-wrapper-left-page {
  left: 0;
  margin: 0;
  position: fixed;
  top: 40%;
  width: 50px;
  z-index: 10000000;
}
.sumome-share-client-wrapper {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  display: block;
  position: static;
}
.sumome-share-client-wrapper {
  background: #ffffff none repeat scroll 0 0;
  color: #222222;
  cursor: default;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
}
.sumome-share-client-wrapper .sumome-share-client-show {
  height: 20px;
  position: relative;
}
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-sidebar-article .sumome-share-client-animated, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-page .sumome-share-client-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: sumomeShareSlideInLeft;
}
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-counts .sumome-share-client-count {
  padding: 4px 10px 16px;
}
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-page .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-right-page .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-desktop-bottom-bar .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-mobile-top-bar .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-mobile-bottom-bar .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-right-sidebar-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-sidebar-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-top-left-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-top-center-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-top-right-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-header-left-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-header-center-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-header-right-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-bottom-left-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-bottom-center-article .sumome-share-client-share, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-bottom-right-article .sumome-share-client-share {
  display: inline-block;
  height: 50px;
}
.sumome-share-client-wrapper div.sumome-share-client .sumome-share-client-share {
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  font-weight: bold;
  height: 50px;
  line-height: 0;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 50px;
}
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-sidebar-article .sumome-share-client-animated img, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-page .sumome-share-client-animated img {
  transform: translate3d(0px, 0px, 0px);
}
.sumome-share-client-wrapper div.sumome-share-client .sumome-share-client-share img {
  height: 30px;
  max-width: 100%;
  width: 30px;
}
.sumome-share-client-wrapper *, .sumome-share-client-wrapper *::before, .sumome-share-client-wrapper *::after {
  background: initial;
  box-sizing: border-box;
}
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-sidebar-article .sumome-share-client-animated, .sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-page .sumome-share-client-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: sumomeShareSlideInLeft;
}
.sumome-share-client-show {
  display: none;
}
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-counts .sumome-share-client-count span {
  bottom: 4px;
  color: inherit;
  display: block;
  font-size: 11px;
  font-weight: normal;
  left: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
footer {
  background-color: #1c1c1c;
  color: #ffffff;
  font-size: 13px;
  margin-top: 270px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
#nav-footer h4 {
  font-size: 18px;
  text-transform: uppercase;
}
#nav-footer ul li a {
  color: #c6c6c7;
}
#nav-footer ul {
  list-style: outside none none;
}
.col-md-4.col-sm-4 > ul {
  margin-left: -39px;
}
#copy_right {
  background-color: #202020;
  color: #555555;
  padding: 10px;
}
#copy_right {
  color: #fff;
}
#follow_us > li {
  padding: 10px;
}
#follow_us {
  display: inline-flex;
}
.col-md-4.col-sm-4 li {
  list-style-type: none;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 552px;
  margin-top: -47px;
}
@media (min-width:320px) and (max-width:480px){
	
.dark-wrapper {
  display: none;
}
	
	
	
}
@media (min-width:900px) and (max-width:1400px){
	
	
.full-section.features-section.fancy-shadow {
  display:none;
}	
	
	
}
h3.section-title {
  font-size: 18px;
}
.full-section {
  padding: 33px 0 50px;
}
.features-section {
  background: #f5f5f5 none repeat scroll 0 0;
  text-align: center;
}
.fancy-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
h3.section-title {
  color: #fe9d68;
  font-size: 25px;
  line-height: 50px;
}
h2.slide-title, h3.section-title, h3.course-title, h3.post-title, h4.cat-title, h4.accordion-header, h5.feature-title, h6.head-title, h4.title, h6.widget-title, .site-name {
  font-family: "Lato",Arial,sans-serif;
  font-weight: 700;
  text-align: center;
}
.full-section .section-description {
  color: #353a48;
  margin: auto;
  max-width: 770px;
  text-align: center;
}
.full-section .section-content [class^="col-xs-"], .full-section .section-content [class*="col-xs-"], .instructors-page [class^="col-"], .instructors-page [class*="col-"] {
  width: 100%;
}
.feature-box {
  margin-top: 15px;
}
.features-section .feature-box:hover .icon img {
  transform: translateY(-7px);
}
.features-section .feature-title {
  margin: 10px 0 -2px;
}
